<section class="grid grid-cols-1 gap-8 bg-brand-orange px-8 py-12 text-white md:grid-cols-2">
  <div class="text-center font-bold">
    <h1 class="text-xl">Day 1</h1>
    <h2 class="text-4xl">Workshop</h2>
    <h3 class="text-xl">(Fri) October 18, 2024</h3>
    <p class="pt-4 text-lg font-normal">Microsoft Thailand</p>
  </div>
  <div class="text-center font-bold">
    <h1 class="text-xl">Day 2</h1>
    <h2 class="text-4xl">Conference</h2>
    <h3 class="text-xl">(Sat) October 19, 2024</h3>
    <p class="pt-4 text-lg font-normal">True Digital Park West</p>
  </div>
</section>