---
import Kanok from '$sprites/kanok.svelte'
---

<div class="absolute top-8 left-8 z-50 hidden md:block">
    <Kanok size="xl" color="orange" />
    <h1 class="text-brand-orange text-right text-[2.2rem] font-extrabold">JavaScript</h1>
    <h1 class="text-brand-orange text-right text-[2.2rem] font-extrabold">Bangkok 2.0.0</h1>
</div>

<div class="absolute top-8 left-8 z-50 md:hidden">
    <Kanok size="l" color="orange" />
    <h1 class="text-brand-orange text-right text-xl font-extrabold">JavaScript</h1>
    <h1 class="text-brand-orange text-right text-xl font-extrabold">Bangkok 2.0.0</h1>
</div>