---
import Kanok from '$sprites/kanok.svelte'
---

<div class="absolute top-8 left-8 z-50 hidden md:block">
    <Kanok size="xl" color="orange" />
    <h1 class="text-brand-orange text-right text-[2.2rem] font-extrabold">JavaScript</h1>
    <h1 class="text-brand-orange text-right text-[2.2rem] font-extrabold">Bangkok 2.0.0</h1>
</div>

<div class="absolute top-8 left-8 z-50 md:hidden">
    <div class="flex">
        <div class="flex flex-col">
            <Kanok size="l" color="orange" />
            <h1 class="text-brand-orange text-right text-xl font-extrabold">JavaScript</h1>
            <h1 class="text-brand-orange text-right text-xl font-extrabold">Bangkok 2.0.0</h1>
        </div>
    </div>
    <div class="pt-12">
        <h1 class="text-brand-green text-3xl font-bold pb-4">Tickets on sale!</h1>
        <a href="https://www.eventpop.me/e/38704/javascript-bangkok-2-0-0" target="_blank" rel="noopener noreferrer" class="text-white bg-brand-green font-bold px-4 py-2 text-lg rounded-tr-xl">Get now!</a>
    </div>
</div>