---
import Kanok from '$sprites/kanok.svelte'
---

<div class="absolute left-8 top-8 z-50 hidden md:block">
  <Kanok size="xl" color="orange" />
  <h1 class="text-right text-[2.2rem] font-extrabold text-brand-green">
    JavaScript
  </h1>
  <h1 class="text-right text-[2.2rem] font-extrabold text-brand-green">
    Bangkok 2.0.<span class="text-brand-orange">1</span>
  </h1>
  <div class="flex items-end justify-end gap-3 p-2">
    <div class="text-end font-mono text-xs">
      🔧 fix: update<br />schedule and rooms
    </div>
    <img
      src="/arrow.svg"
      class="bottom-0 right-0 w-14 rotate-[120deg]"
      alt=""
    />
  </div>
</div>

<div class="absolute left-8 top-8 z-50 md:hidden">
  <div class="flex">
    <div class="flex flex-col items-end">
      <Kanok size="l" color="orange" />
      <h1 class="text-right text-xl font-extrabold text-brand-green">
        JavaScript
      </h1>
      <h1 class="text-right text-xl font-extrabold text-brand-green">
        Bangkok 2.0.<span class="text-brand-orange">1</span>
      </h1>
      <div class="flex items-end justify-end gap-3 p-2">
        <div class="text-end font-mono text-xs">
          🔧 fix: update<br />schedule and rooms
        </div>
        <img
          src="/arrow.svg"
          class="bottom-0 right-0 w-14 rotate-[120deg]"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- <div class="pt-12">
    <h1 class="pb-4 text-3xl font-bold text-brand-green">Tickets on sale!</h1>
    <a
      href="https://www.eventpop.me/e/38704/javascript-bangkok-2-0-0"
      target="_blank"
      rel="noopener noreferrer"
      class="rounded-tr-xl bg-brand-green px-4 py-2 text-lg font-bold text-white"
      >Get now!</a
    >
  </div> -->
</div>
