---
import { Image } from 'astro:assets'

import ticketsAvailable from '$assets/tickets-avail.svg'

import './tickets.css'
---

<section class="bg-white pt-12">
    <div class="px-8">
        <h1 class="text-5xl font-bold text-brand-orange text-center pb-6">Tickets</h1>
        <p class="mx-auto max-w-3xl text-center pb-12 text-lg">
            Tickets are on sale, and available for purchase at <a class="text-brand-orange" href="https://www.eventpop.me/e/38704/javascript-bangkok-2-0-0">Eventpop</a>
        </p>
    </div>
    <eventpop-tickets-widget eventid="38704"></eventpop-tickets-widget>
    <!--<div class="flex justify-center">-->
    <!--    <a-->
    <!--        href="https://www.eventpop.me/e/38704/javascript-bangkok-2-0-0"-->
    <!--        target="_blank"-->
    <!--        rel="noopener noreferrer"-->
    <!--        class="bg-white rounded-tr-3xl shadow-lg p-2">-->
    <!--        <Image src={ticketsAvailable} alt="Ticket avaialble at Eventpop" class="w-72" />-->
    <!--    </a>-->
    <!--</div>-->
</section>