---
import Base from '$layouts/base.astro'

import Logo from '$new-front/logo.astro'
import Patterns from '$playground/patterns.svelte'
import Dates from '$new-front/dates.astro'
import Map from '$new-front/map.astro'
import Sponsors from '$new-front/sponsors.astro'
import MobileStrip from '$playground/mobileStrip.svelte'
import Schedule from '$new-front/schedule.astro'
---

<Base title="JavaScript Bangkok 2.0.1">
  <div
    class="relative mx-auto h-screen max-w-[88rem] overflow-hidden bg-white md:h-[64rem]"
  >
    <Logo />
    <div class="mx-auto hidden max-w-[128rem] md:block">
      <Patterns client:only="svelte" />
    </div>
    <div class="absolute -left-8 bottom-0 mx-auto max-w-[128rem] md:hidden">
      <MobileStrip client:only="svelte" />
    </div>
  </div>
  <Dates />
  <Map />
  <!--<Tickets />-->
  <Schedule />
  <!--<Speakers />-->
  <Sponsors />

  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/eventpop-tickets-widget@3.0.0-next.8/dist/eventpop-tickets-widget.js"
    is:inline></script>
  <script
    src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
    crossorigin="anonymous"
    async
    data-libraries="services,full-map"
    is:inline
    slot="body-end"></script>
</Base>
