---
import Base from '$layouts/base.astro'

import Logo from '$new-front/logo.astro'
import Patterns from '$playground/patterns.svelte'
import Schedule from '$new-front/schedule.astro'
import Map from '$new-front/map.astro'
import Speakers from '$new-front/speakers.astro'
import Sponsors from '$new-front/sponsors.astro'
import MobileStrip from '$playground/mobileStrip.svelte'
---

<Base title="JavaScript Bangkok 2.0.0">
  <div class="max-w-[88rem] mx-auto h-screen md:h-[64rem] bg-white overflow-hidden relative">
    <Logo />
    <div class="max-w-[128rem] mx-auto hidden md:block">
      <Patterns client:idle />
    </div>
    <div class="max-w-[128rem] mx-auto md:hidden absolute bottom-0 -left-8">
      <MobileStrip client:idle />
    </div>
  </div>
  <Schedule />
  <Map />
  <Speakers />
  <Sponsors />

  <script
    src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
    crossorigin
    async
    data-libraries="services,full-map"
    is:inline
    slot="body-end"></script>
</Base>
