---
import Base from '$layouts/base.astro'

import Kanok from '$sprites/kanok.svelte'
import Patterns from '$playground/patterns.svelte'
import Schedule from '$new-front/schedule.astro'
import Map from '$new-front/map.astro'
import Speakers from '$new-front/speakers.astro'
import Sponsors from '$new-front/sponsors.astro'

---

<Base title="JavaScript Bangkok 2.0.0">
  <div class="h-[64rem] bg-white overflow-hidden">
    <div class="max-w-[88rem] mx-auto relative">
      <div class="absolute top-8 left-8">
        <Kanok size="xl" color="orange" />
        <h1 class="text-brand-orange text-right text-[2.2rem] font-extrabold">JavaScript</h1>
        <h1 class="text-brand-orange text-right text-[2.2rem] font-extrabold">Bangkok 2.0.0</h1>
      </div>
    </div>
    <div class="max-w-[128rem] mx-auto">
      <Patterns client:idle />
    </div>
  </div>
  <Schedule />
  <Map />
  <Speakers />
  <Sponsors />

  <script
    src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
    crossorigin
    async
    data-libraries="services,full-map"
    is:inline
    slot="body-end"></script>
</Base>
