<section class="bg-เหล็กไหล text-white">
  <h1>Conference</h1>
  <div id="map-conf" class="h-80"></div>
</section>

<script>
  window.addEventListener('load', function () {
    mapkit.init({
      authorizationCallback: done => {
        fetch('https://api.rayriffy.com/appleMaps/token')
          .then(res => res.text())
          .then(done)
      },
      language: 'en',
    })

    const map = new mapkit.Map('map-conf')
    const coordinate = new mapkit.Coordinate(13.6869421, 100.6112208)
    const region = new mapkit.CoordinateRegion(
      coordinate,
      new mapkit.CoordinateSpan(0.1, 0.11)
    )

    map.cameraZoomRange = new mapkit.CameraZoomRange(250, 75000)
    map.region = region

    // @ts-expect-error CameraBoundaryDescription.region does not exist in Map
    map.cameraBoundary = region

    map.showItems([
      new mapkit.MarkerAnnotation(coordinate, {
        title: 'True Digital Park West',
        subtitle: 'Grand Hall, 3rd Fl.',
        selected: true,
      }),
    ])
  })
</script>
