---
import ScheduleTabs from '$schedule/tabs.svelte'
---

<section class="bg-เหล็กไหล py-12 text-white">
  <h1 class="pb-12 text-center text-5xl font-bold">Schedule</h1>
  <div class="space-y-4 text-center">
    <div>
      <b class="text-xl">Workshop</b>
      <p class="space-x-2 text-lg">
        <span>Friday, October 18, 2024</span>
        <span></span>
      </p>
    </div>
    <div>
      <b class="text-xl">Conference</b>
      <p class="space-x-2 text-lg">
        <span>Saturday, October 19, 2024</span>
        <span>8:30 Door open / 9:00 Start</span>
      </p>
    </div>
  </div>
</section>
