---
import Speaker from './speaker.astro'
import TBA from './tba.astro'
---

<section class="py-12 text-เหล็กไหล">
  <h1 class="pb-12 text-center text-5xl font-bold">Speakers</h1>
  <p class="mx-auto max-w-3xl px-4 text-center">
    We're looking for speakers who are passionate about their craft and have a
    story to share. If you're interested in speaking at the conference, please
    submit a proposal at <a
      class="text-red-500"
      href="https://sessionize.com/javascript-bangkok-2024/">Sessionize</a
    >.
  </p>
  <!--<TBA>-->
  <!--  <div class="mx-auto grid max-w-4xl gap-4 px-4 md:grid-cols-2">-->
  <!--    <Speaker />-->
  <!--    <Speaker />-->
  <!--    <Speaker />-->
  <!--    <Speaker />-->
  <!--  </div>-->
  <!--</TBA>-->
</section>
