---
import Speaker from './speaker.astro'
import TBA from './tba.astro'
---

<section class="py-12 text-เหล็กไหล">
  <h1 class="pb-12 text-center text-5xl font-bold">Speakers</h1>
  <TBA>
    <div class="mx-auto grid max-w-4xl gap-4 px-4 md:grid-cols-2">
      <Speaker />
      <Speaker />
      <Speaker />
      <Speaker />
    </div>
  </TBA>
</section>
